.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: powderblue; */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.slider-container {
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: powderblue; */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.slide {
  width: 100%;
  position: relative;
}
.numbertext {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.slideImg {
  width: 100%;
  object-fit: cover;
  transition: 1s ease;
}
.slide-caption {
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  bottom: 20px;
}
.previous {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 16px;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 0;
}
.next {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 16px;
  transition: 0.5s ease-in-out;
  position: absolute;
  right: 0;
}
.previous:hover,
.next:hover {
  background-color: black;
}
.sliderBtns {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bbbbbb;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.active-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5fcd82;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.dot:hover {
  background-color: rgb(104, 100, 100);
}

/* ANIMATION */

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

/*Define the custom animation*/

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
